@font-face{
  font-family: 'Beiroot';
  src: url('../fonts/beiroot.eot');
  src: url('../fonts/beiroot.woff') format('woff'), url('../fonts/beiroot.ttf') format('truetype'), url('../fonts/beiroot.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-size:18px;
    font-family: Beiroot,'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    color: #333;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

body, #main{
  background: #ddd;
}

.main-loader{
  display: none;
  z-index: 10002;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.main-loader .icon{
  background: #111 url('../img/ajax-loader.gif') center no-repeat;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 50%;
  margin-top: -40px;
  left: 50%;
  margin-left: -40px;
  border-radius: 10px;
}
.pages{
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 10px #000;
  text-align: right;
  direction: rtl;
}
.pages > div{
  padding: 1% 3%;
}
.pages .page{
  position: relative;
  display: none;
}
.pages .page-header{
  z-index: 10001;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 1% 2%;
  direction: ltr;
  text-align: left;
}
.page-header i{
  color: #555;
  font-size: 1.6em;
}
.pages .page-content{
  position: relative;
  clear: both;
  padding-bottom: 5px;
}
.pages a{
  color: #32A3FF;
  border-bottom: #32A3FF 1px dashed;
}
.pages .en{
  font-size: 0.6em;
}
.page{
}
.page h2, .page h3, .page h4{
  font-size: 1.3em;
  color: #555;
  margin: 0.2em 0 0.1em;
  font-weight: bold;
}
.page h3{
  font-size: 1.1em;
}
.page h4{
  color: #777;
  font-size: 1em;
}
.page p{
  margin: 0.1em 0;
}
.header{
  background: #fff;
  top: 0;
  box-shadow: 0 0 5px #333;
  border-bottom: none;
  height: 30px;
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  padding: 5px 0 3px;
  direction: rtl;
}
.header .logo, .header .actions{
  display: block;
}
.header .logo{
  background: url(../img/logo.png);
  background-position: center;
  background-size: cover;
  width: 55px;
  height: 28px;
  float: left;
}
.header h1{
  margin: 0.2em 0.3em;
  color: #555;
  text-shadow: none;
  text-align: right;
  padding: 0;
  min-height: 1.1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: right;
}
.header .actions{
  margin: 0 0.3em;
}
.header i{
  color: #32A3FF;
  margin: 0 0.2em;
  font-size: 1.6em;
  vertical-align: middle;
}
.header .bordered{
  display: inline-block;
  width: 1px;
  height: 22px;
  border-left: #ddd 1px solid;
}
body .content{
  padding: 37px 2px 5px;
  clear: both;
}
.menu{
  z-index: 991;
  left: 0;
  display: none;
  margin-top: 30px;
  position: fixed;
  background: #fff;
  padding-top: 10px;
  width: 100%;
  direction: rtl;
  text-align: right;
  box-shadow: 0 0 5px #333;
}
.menu .divider{
  background: #333;
  border-top: #32A3FF 1px solid;
  border-bottom: #32A3FF 1px solid;
  height: 2px;
}
.menu a{
  display: block;
  padding: 5px 8px;
  color: #32A3FF;
  background: #fff;
  border-bottom: #32A3FF 2px solid;
}
.menu a span{
  padding: 0 5px;
}
.loader{
  display: none;
  width: 64px;
  height: 18px;
  background: url(../img/loader.gif) no-repeat;
  margin: 5px auto 2px;
}
.template{
  display: none;
}
.posts{
  width: 100%;
  margin: auto;
}
.posts .post{
  box-shadow: 0 0 4px #32A3FF;
  width: 98%;
  position: relative;
  margin: 0.5em auto;
  direction: rtl;
  overflow: hidden;
}
.posts .post .thumb{
  width: 100%;
  height: 180px;
  background-position: center;
  background-size: cover;
  position: relative;
}
.posts .post .title{
  background: rgba(0,0,0,.8);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  padding: 5px;
}
.posts .post .actions{
  background: #fff;
  color: #888;
  height: 1.4em;
  font-size: 1.4em;
  line-height: 1.4em;
  overflow: hidden;
  padding: 0px 10px 1px;
}
.posts .fn-description{
  background: #fff;
  display: none;
  border-bottom: #ddd 1px solid;
}
.posts .fn-description p{
  padding: 8px 5px;
  margin: 0;
}
.posts .post .long{
  display: none;
}
.posts .post.long .short{
  display: none;
}
.posts .post.long .long{
  display: block;
}
.posts .post .extra-actions{
  display: inline-block;
  background: rgba(0,0,0,.7);
  color: #bbb;
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  border-radius: 0 0 5px 0;
  line-height: 1.2em;
  padding:  2px 4px;
  margin: 0;
  font-size: 1.2em;
}
.posts .post .extra-actions *{
  margin: 0px 4px;
  padding: 0;
}

.posts .post .extra-actions *,
.posts .post .actions *{
  vertical-align: middle;
}
.posts .post .counts{
  padding-left: 2px;
}
.posts .post a{
  margin-left: 8px;
  margin-right: 8px;
}
.posts .post .fn-like{
  color: #777;
}
.posts .post .fn-dislike{
  display: none;
}
.posts .post.liked .fn-like{
  display: none;
}
.posts .post.liked .fn-dislike{
  display: inline-block;
  color: #32A3FF;
}
.posts .post .icon-external-link{
  margin-left: 5px;
}
.posts .post .icon-chevron-sign-down{
  position: relative;
  display: inline-block;
}
.posts .post.expanded .icon-chevron-sign-down{
  -moz-animation: twist 0.5s forwards;
  -webkit-animation: twist 0.5s forwards;
}
.posts .post.shrinked .icon-chevron-sign-down{
  -moz-animation: twistback 0.5s;
  -webkit-animation: twistback 0.5s;
}
@-moz-keyframes twist {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(180deg); }
}
@-webkit-keyframes twist {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(180deg); }
}
@-moz-keyframes twistback {
  0% { -moz-transform: rotate(180deg); }
  100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes twistback {
  0% { -webkit-transform: rotate(180deg); }
  100% { -webkit-transform: rotate(360deg); }
}
.pull-left{
  float: left;
}

.checkbox{
  padding: 5px 8px;
  margin: 1px 3px 1px 0;
}
.checkbox input{
  display: none;
}
.checkbox i{
  color: #666;
}
.checkbox i.icon-check-sign{
  color: #32A3FF;
}
.checkbox.checked{
  background: #eee;
  border-right: #ddd 6px solid;
  margin: 1px 0px 1px 0;
}
