%h4 New Source
.form.form-horizontal{ :role => :form }
  .control-group
    %label.control-label Name
    .controls
      %input{ :type => :text, :name => 'source[name]', :value => @source.name }
  .control-group
    %label.control-label URL
    .controls
      %input.ltr{ :type => :text, :name => 'source[url]', :value => @source.url }
  .control-group
    %label.control-label Title
    .controls
      %input.ltr{ :type => :text, :name => 'format[title]', :value => @source.format['title'] }
  .control-group
    %label.control-label Summary
    .controls
      %input.ltr{ :type => :text, :name => 'format[description]', :value => @source.format['description'] }
  .control-group
    %label.control-label URL
    .controls
      %input.ltr{ :type => :text, :name => 'format[url]', :value => @source.format['url'] }
  %h4 Page Digs
  .control-group
    %label.control-label Page Image
    .controls
      %input.ltr{ :type => :text, :name => 'format[image]', :value => @source.format['image'] }
  .control-group
    %label.control-label Page Summary
    .controls
      %input.ltr{ :type => :text, :name => 'format[summary]', :value => @source.format['summary'] }
  .control-group
    .controls
      %button.btn.btn-primary{ :data => { :remote => (@source.new_record? ? sources_path : source_path(@source) ), :method => (@source.new_record? ? 'POST' : 'PUT'), :parent => '.form', :success => 'feed.sources.saved' } } Save
      %button.btn Cancel
