@font-face
  font-family: 'Beiroot'
  src: url('/assets/fonts/beiroot.eot')
  src: url('/assets/fonts/beiroot.otf') format('opentype') 
  src: url('/assets/fonts/beiroot.woff') format('woff'), url('/assets/fonts/beiroot.ttf') format('truetype'), url('/assets/fonts/beiroot.svg') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"], [class*=" icon-"]
  background-image: none

.secret
  display: none

body
  padding-top: 60px
  background: #ddd
  font-family: Beiroot, "Helvetica Neue",Helvetica,Arial,sans-serif
  color: #333

.menu
  margin-bottom: 0
  position: fixed
  box-shadow: 0 0 3px #000
  .navbar-inner
    border: none
  ul.nav
    margin-right: 20px !important
    text-shadow: none !important
    > .active
      a
        background: #32A3FF

.posts
  width: 99%
  margin: auto
  .post
    width: 32%
    position: relative
    float: right
    margin: 0.5%
    direction: rtl
    height: 179px
    overflow: visible
    .wrapper
      box-shadow: 0 0 3px #32A3FF
    .thumb
      background-position: center
      background-size: cover
      position: relative
      height: 150px
      cursor: pointer
      span
        background: rgba(0,0,0,.8)
        position: absolute
        bottom: 0
        left: 0
        right: 0
        color: #fff
        text-shadow: 1px 1px 1px #000
        padding: 5px
        font-size: 16px
    .fn-description
      display: none
      border-bottom: #ddd 1px solid
      p
        background: #fff
        padding: 8px 5px
        margin: 0
    .actions
      background: #fff
      color: #888
      height: 22px
      overflow: hidden
      padding: 6px 10px 1px 15px
      font-size: 20px
      *
        vertical-align: middle
      i
        cursor: pointer
      .likes
        font-size: 18px
      .fn-like
        color: #777
      .fn-dislike
        display: none
    .icon-chevron-sign-down
      position: relative
      display: inline-block
    &.liked
      .actions
        .fn-like
          display: none
        .fn-dislike
          display: inline-block
          color: #32A3FF
    &.expanded .icon-chevron-sign-down
      -moz-animation: twist 0.5s forwards
      -webkit-animation: twist 0.5s forwards
    &.shrinked .icon-chevron-sign-down
      -moz-animation: twistback 0.5s
      -webkit-animation: twistback 0.5s

@-moz-keyframes twist
  0% 
    -moz-transform: rotate(0deg)
  100% 
    -moz-transform: rotate(180deg)
@-webkit-keyframes twist
  0% 
    -webkit-transform: rotate(0deg)
  100% 
    -webkit-transform: rotate(180deg)

@-moz-keyframes twistback
  0% 
    -moz-transform: rotate(180deg)
  100% 
    -moz-transform: rotate(360deg)
@-webkit-keyframes twistback
  0% 
    -webkit-transform: rotate(180deg)
  100% 
    -webkit-transform: rotate(360deg)
      
@media screen and (min-device-width: 480px) and (max-device-width: 680px)

  .posts
    .post
      width: 49%

@media screen and (min-device-width: 320px) and (max-device-width: 480px)

  .posts
    width: 100%
    .post
      box-shadow: 0 0 3px #32A3FF
      height: auto
      overflow: auto
      width: 99%
      margin: 0.5%
