!!! 5
%html
  %head
    %title=t :posts
    =render '/layouts/header'
    =yield :head
    =csrf_meta_tags
  %body
    .menu.navbar.navbar-fixed-top
      %a.logo{ :href => root_path }
      .navbar-inner
        .container-fluid
          %ul.nav
            %li.active
              %a{:href => posts_path }=t :posts
            %li
              %a{ :href => 'http://cafebazaar.ir/app/com.tectual.kalagheh/?l=fa', :target => '_blank' } دریافت اخبار در موبایلتان
            -if session[:admin] || !params[:arash].blank?
              %li
                %a{:href => sources_path } Sources
              %li
                %a{:href => new_source_path } New Source
              %li
                %a{:href => list_posts_path } Tag Posts
              %li
                %a{:href => tags_path } Tags
              %li
                %a{:href => fetch_posts_path } Fetch Sources
    .container
      =yield
